:root.theme-dark {
  --main-text-color: var(--pink);
  --title-color: var(--purple);
  --section-title-color: var(--fucsia);
  --header-theme-menu-color: var(--fucsia);
  --button-hover: var(--opacity-fucsia);
  --subtitle-color: var(--bark-blue);
  --background-color: var(--bark-blue);
  --background-image: url(../images/cover-image-dark.png);
  --subtitle-background-color: var(--fucsia);
  --accsent-shadow: var(--fucsia);
}