:root.theme-light {
  --main-text-color: var(--dark-grey);
  --title-color: var(--light-pink);
  --section-title-color: var(--dark-grey);
  --header-theme-menu-color: var(--dark-grey);
  --button-hover: var(--opacity-dark-grey);
  --subtitle-color: var(--dark-grey);
  --background-color: var(--pastelle);
  --background-image: url(../images/cover-image-light.png);
  --subtitle-background-color: var(--dark-pink);
  --accsent-shadow: var(--dark-pink);
}

.theme-light .page .header .header__dark-scenery {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: var(--dark-grey);
    --title-color: var(--light-pink);
    --section-title-color: var(--dark-grey);
    --header-theme-menu-color: var(--dark-grey);
    --button-hover: var(--opacity-dark-grey);
    --subtitle-color: var(--dark-grey);
    --background-color: var(--pastelle);
    --background-image: url(../images/cover-image-light.png);
    --subtitle-background-color: var(--dark-pink);
    --accsent-shadow: var(--dark-pink);
  }

  .theme-auto .page .header .header__dark-scenery {
    display: none;
  }
}